spring:
  application:
    name: sencours-backend

  datasource:
    url: jdbc:postgresql://ep-winter-surf-ahfzzoas-pooler.c-3.us-east-1.aws.neon.tech/sencours-db?sslmode=require
    username: sencours_owner
    password: El_Mohmk@10
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

server:
  port: 8080

app:
  upload:
    dir: uploads
  base-url: http://localhost:8080

jwt:
  secret: VG9rZW5TZWNyZXRLZXlGb3JTZW5Db3Vyc0VsZWFybmluZ1BsYXRmb3JtMjAyNA==
  expiration: 86400000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
